* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #efefef;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  background-color: rgb(112, 110, 110);
}

.display {
  display: grid;
  padding: 16px;
  justify-content: end;
  background-color: grey;
  font-size: 30px;
  font-weight: 310;
  color: rgb(219, 208, 208);
}

.digits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* .numbers {
  display: grid;
} */

.btns,
.btns-1,
.btns-2 {
  border: 1px solid #d2d2d2;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  background-color: #d4c6c6;
  cursor: pointer;
}

.btns-2 {
  grid-column: 1 / span 2;
}

.go {
  background-color: rgb(196, 132, 14);
}

.btns.go:hover {
  background-color: peachpuff;
}

.press-btn:hover,
.press-btn-1:hover,
.press-btn-2:hover {
  background-color: #d2d2d2;
}

.Heading {
  padding: 20px 20px;
  background-color: cornflowerblue;
}

.Heading-1 {
  padding: 70px;
}

/* .Heading-2 {
 padding-right: 100px;
} */

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding-right: 50px;
  margin-top: -50px;
  font-size: 1.2rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.Description {
  width: 100%;
  padding: 100px;
  font-size: 1.2rem;
}

.Description-q {
  text-align: center;
  padding: 250px;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 600;
}